<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button style="float:right" class="btnstyle" onclick="history.back()">Back</button>
    <form method="POST">
        <label>Doctorname</label>
        <p><input placeholder="Enter doctorname" type="text" name="doctorname" required/></p>
        <label>Purposetovisit</label>
        <p><input placeholder="Enter purpose" type="text" name="purposetovisit" required/></p>
        <label>Appointmenttime</label>
        <p><input placeholder="Enter time" type="text" name="appointmenttime" required/></p>
        
        <button class="btnstyle">Submit</button>
    </form>
</body>
</html>